@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
body{
    background-color: green;
}

*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'ubuntu',sans-serif;
}
nav ul{
    list-style-type: none;
    align-items: center;
    display: flex;
    background-color: black;
    height: 60px;
    color: aliceblue;
}
.SpyfyLogo img{
    height: 50px;
    width: 80px;
    padding: 0 1px;
}
.SpyfyLogo{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.9rem;
}

nav ul li{
    padding: 0 12px;
}
.songProgress{
    position: relative;
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top:10px;
}
.icons i{
    cursor: pointer;
}

.container{
    height: 72vh;
    background-color: black;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    width: 80%;
    border-radius: 12px auto;
    padding: 10px;
    background-image:url('ncsInfinity.jpg');
}
#Progress{
    text-align: center;
    width: 60%;
    color: black;
}
.songList{
    height: 40px;
    display: flex;
    background-color: white;
    width: 40%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    border-radius:10px ;
}
.cover img{
    height: 30px;
    width:50px;
}
.cover2 img{
    height: 30px;
    width:50px;
}
.lists{
    height: 40px;
    display: flex;
    background-color: white;
    width: 40%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    border-radius:10px ;
}
.songinfo{
    position: absolute;
    left: 20vw;
}

